body{
	background-color: aliceblue;
}
#add_course{
	border: 1px solid #a4b8d9;
    width: 1130px;
    min-height: 485px;
    background-color: #fff;
}
#add_course table{
	text-align: center;	
	margin: 25px auto;
	width: 600px;
}
#add_course table,#add_course tr,#add_course td{
	border-collapse: collapse;
	border: 1px solid aqua;
}
#tabletitle{
	font-size: 16px;
	font-weight: 600;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background-color: #7876a1;
}
#tabletitle #term{
	font-size: 14px;
	color: #fff;
}
#coursetitle{
	font-size: 14px;
	height: 22px;
	line-height: 22px;
}
#add_course table input{
	width: 250px;
	height: 25px;
	line-height: 25px;
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid aqua;
	padding-top: 5px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
#add_course #btn{
	width: 600px;
	margin: 10px auto;
	text-align: center;
}
#btn button{
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 0px;
	border-radius: 0.2em;
	background-color: #4B79CD;
	font-size: 15px;
	color: #fff;
}
#add{
	margin-right: 80px;
}
#sub{
	margin-left: 80px;
}
