body{
	background-color: #bbdcf9;
}
#modifytable{
	width: 600px;
	margin-top: 50px;
	margin-left: 400px;
}
#modifytable div{
	height: 50px;
	margin-top: 20px;
}
#modifytable input{
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	width: 320px;
	border: 1px solid #5a72da;
	border-radius: 0.3em;
}
#modifytable span{
	float: right;
	display: block;
	font-size: 13px;
	height: 40px;
	width: 270px;
	color:red;
	line-height: 40px;
}
#btn{
	height: 45px;
}
#btn button{
	width: 320px;
	height: 40px;
	font-size: 15px;
	color: #fff;
	background-color: #4da7a7;
	border: 0px;
	border-radius: 0.3em;
}